In [1]:
#Pandas con ficheros de Excel
import pandas as pd
import numpy as np

In [5]:
pwd

'C:\\Users\\cooke\\Desktop\\Helloworld\\Machile Learning\\Pandas'

In [7]:
ls

 El volumen de la unidad C no tiene etiqueta.
 El número de serie del volumen es: 4032-D651

 Directorio de C:\Users\cooke\Desktop\Helloworld\Machile Learning\Pandas

08-03-2020  00:59    <DIR>          .
08-03-2020  00:59    <DIR>          ..
08-03-2020  00:55    <DIR>          .ipynb_checkpoints
08-03-2020  00:18             6.650 Agrupacion de los Datos.ipynb
08-03-2020  00:59           439.808 BD-Inmuebles.xls
08-03-2020  00:36             6.988 Combinar Dataframes.ipynb
07-03-2020  23:46            13.031 Dataframe Seleccion de Datos.ipynb
07-03-2020  23:28            20.246 Dataframes.ipynb
08-03-2020  00:59             1.893 Ficheros csv.ipynb
07-03-2020  21:01             2.751 Introduccion a Pandas.ipynb
08-03-2020  00:48             6.271 Join con Dataframes.ipynb
08-03-2020  00:41             3.473 Merge de Daframes.ipynb
08-03-2020  00:00             9.662 Modificar nombre de las filas.ipynb
08-03-2020  00:57            10.664 Operaciones con DataFrames.ipynb
08-03-2020  00:11             7.833 Tratamiento de los datos Nulos.ipynb
08-03-2020  00:18                72 Untitled.ipynb
              13 archivos        529.342 bytes
               3 dirs  704.191.868.928 bytes libres

In [8]:
dataframe = pd.read_excel('BD-Inmuebles.xls')

In [22]:
lista = np.arange(0,3337)
#dataframe['nuevo'] = 
lista

array([   0,    1,    2, ..., 3334, 3335, 3336])

In [20]:
dataframe.index

RangeIndex(start=0, stop=3337, step=1)

In [23]:
dataframe['nuevo'] = lista

In [24]:
dataframe

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor,nuevo
0,1,2004-01-01,Parking,Alquiler,Lleida,291,2133903,2004-06-19,Carmen,0
1,2,2004-01-01,Local,Venta,Girona,199,1945424,2004-04-19,Pedro,1
2,3,2004-01-01,Oficina,Alquiler,Girona,82,712416,2004-11-08,Joaquín,2
3,4,2004-01-02,Parking,Alquiler,Girona,285,1815450,2004-04-27,Jesús,3
4,5,2004-01-02,Suelo,Venta,Tarragona,152,1138024,2004-07-10,María,4
5,6,2004-01-03,Industrial,Alquiler,Girona,131,953156,2004-09-05,Pedro,5
6,7,2004-01-03,Parking,Alquiler,Tarragona,69,406686,2004-06-07,Pedro,6
7,8,2004-01-03,Oficina,Venta,Girona,235,2158475,2004-10-31,Jesús,7
8,9,2004-01-04,Piso,Alquiler,Lleida,108,1024380,2004-12-28,Jesús,8
9,10,2004-01-04,Parking,Venta,Lleida,299,2042768,2004-10-06,Joaquín,9
10,11,2004-01-04,Oficina,Alquiler,Girona,124,627068,2004-10-28,Pedro,10
11,12,2004-01-04,Industrial,Venta,Girona,187,999328,2004-04-05,Carmen,11
12,13,2004-01-04,Parking,Venta,Barcelona,300,2937300,2004-11-04,Jesús,12
13,14,2004-01-04,Local,Venta,Tarragona,68,664700,2004-10-01,Carmen,13
14,15,2004-01-04,Industrial,Alquiler,Girona,176,820336,2004-11-29,Pedro,14
15,16,2004-01-05,Casa,Alquiler,Girona,179,937960,2004-11-21,Carmen,15
16,17,2004-01-05,Casa,Alquiler,Tarragona,58,358846,2004-10-08,Luisa,16
17,18,2004-01-06,Suelo,Venta,Barcelona,283,1679605,2004-06-06,Carmen,17
18,19,2004-01-07,Piso,Alquiler,Girona,55,472615,2004-04-09,Luisa,18
19,20,2004-01-08,Oficina,Alquiler,Barcelona,148,1169496,2004-08-19,María,19
20,21,2004-01-09,Industrial,Venta,Barcelona,228,2020992,2004-06-12,Carmen,20
21,22,2004-01-09,Oficina,Alquiler,Lleida,116,727552,2004-04-14,Pedro,21
22,23,2004-01-10,Casa,Alquiler,Girona,183,1438929,2004-04-21,Luisa,22
23,24,2004-01-10,Oficina,Alquiler,Tarragona,79,427390,2004-12-01,Joaquín,23
24,25,2004-01-10,Oficina,Alquiler,Barcelona,124,1170684,2004-05-23,Jesús,24
25,26,2004-01-10,Local,Alquiler,Tarragona,70,549780,2004-06-22,Jesús,25
26,27,2004-01-11,Local,Alquiler,Tarragona,70,659330,2004-12-23,Pedro,26
27,28,2004-01-12,Casa,Alquiler,Barcelona,187,1660560,2004-06-16,Joaquín,27
28,29,2004-01-12,Casa,Alquiler,Tarragona,91,753571,2004-07-07,Luisa,28
29,30,2004-01-12,Local,Alquiler,Tarragona,201,939072,2004-08-04,Carmen,29
...,...,...,...,...,...,...,...,...,...,...
3307,3308,2007-04-16,Local,Venta,Tarragona,286,1180036,NaT,NaN,3307
3308,3309,2007-04-16,Piso,Venta,Tarragona,140,760620,NaT,NaN,3308
3309,3310,2007-04-16,Parking,Alquiler,Tarragona,197,825430,NaT,NaN,3309
3310,3311,2007-04-17,Suelo,Alquiler,Tarragona,143,830830,NaT,NaN,3310
3311,3312,2007-04-17,Industrial,Alquiler,Tarragona,277,2129576,NaT,NaN,3311
3312,3313,2007-04-18,Parking,Alquiler,Tarragona,187,1297780,NaT,NaN,3312
3313,3314,2007-04-18,Casa,Venta,Barcelona,284,1808512,NaT,NaN,3313
3314,3315,2007-04-18,Industrial,Venta,Tarragona,179,1386892,NaT,NaN,3314
3315,3316,2007-04-19,Oficina,Alquiler,Barcelona,146,1063902,NaT,NaN,3315
3316,3317,2007-04-20,Casa,Venta,Girona,247,1804088,NaT,NaN,3316
3317,3318,2007-04-21,Oficina,Alquiler,Lleida,95,394250,NaT,NaN,3317
3318,3319,2007-04-21,Industrial,Venta,Tarragona,114,540018,NaT,NaN,3318
3319,3320,2007-04-22,Oficina,Alquiler,Tarragona,44,293172,NaT,NaN,3319
3320,3321,2007-04-23,Parking,Alquiler,Barcelona,81,607014,NaT,NaN,3320
3321,3322,2007-04-23,Local,Venta,Barcelona,44,180048,NaT,NaN,3321
3322,3323,2007-04-23,Piso,Venta,Barcelona,283,2686236,NaT,NaN,3322
3323,3324,2007-04-24,Oficina,Venta,Barcelona,136,807432,NaT,NaN,3323
3324,3325,2007-04-24,Oficina,Alquiler,Tarragona,52,463424,NaT,NaN,3324
3325,3326,2007-04-25,Industrial,Alquiler,Barcelona,296,2078216,NaT,NaN,3325
3326,3327,2007-04-25,Suelo,Alquiler,Barcelona,161,999005,NaT,NaN,3326
3327,3328,2007-04-26,Suelo,Venta,Lleida,55,355135,NaT,NaN,3327
3328,3329,2007-04-26,Piso,Venta,Barcelona,264,2517504,NaT,NaN,3328
3329,3330,2007-04-27,Parking,Venta,Barcelona,88,612568,NaT,NaN,3329
3330,3331,2007-04-27,Local,Venta,Girona,110,845790,NaT,NaN,3330
3331,3332,2007-04-29,Oficina,Venta,Lleida,190,1031320,NaT,NaN,3331
3332,3333,2007-04-29,Industrial,Alquiler,Lleida,221,1450644,NaT,NaN,3332
3333,3334,2007-04-29,Piso,Alquiler,Girona,55,454080,NaT,NaN,3333
3334,3335,2007-04-30,Suelo,Venta,Tarragona,78,740688,NaT,NaN,3334
3335,3336,2007-04-30,Piso,Alquiler,Barcelona,88,397408,NaT,NaN,3335
3336,3337,2007-04-30,Parking,Venta,Lleida,254,2140712,NaT,NaN,3336

In [25]:
dataframe.to_excel('BD-Inmuebles.xlsx', sheet_name='Hoja1')